@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.motif-card{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.child-wrapper {
  margin-left: 4rem;
  margin-right: -4rem;
}

.child-anim{
  animation: slideIn 0.5s ease-in;
}

.result{
  border-color: khaki;
  border-width: 5px;
}