<div class="card-body">
  <div class="container">
    <button (click)="editBib()"
            type="button" style="margin-right: 0.25rem" 
            class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#editAddBib">Edit</button>
    <!-- Delete button -->
    <button (click)="deleteBib()"
            type="button"
            class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteBib">Delete</button>
    New bibliography ID: {{activeBib.id}}; new bibliography title: {{activeBib.title}}
  </div>
</div>



<!--Add/edit modal-->
<div class="modal fade" id="editAddBib" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
        <div class="modal-header">
          @if (mode === Mode.EDIT){
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit bibliography entry</h1>
          }
          @else if (mode === Mode.ADD){
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add bibliography entry</h1>
          }
          <button (click)="navigateToBibAllPage()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm">
            <div class="container-fluid">

              <div class="row mb-3">
                <!-- ARTICLE TYPE FIELD -->
                <div class="col">
                  <label for="bib-type" class="form-label">Publication type:</label><span style="color: rgb(210, 74, 74)">*</span>
                  <select class="form-select" formControlName="type" id="bib-type"
                          [ngStyle]="{'background-color': (type.invalid && showValidationErrors) ? 'rgb(210, 74, 74)' : 'white'}">
                    <option disabled selected>Select publication type:</option>
                    @for(publicationType of publicationTypesUi; track publicationType){
                      <option>{{ publicationType }}</option>
                    }
                  </select>
                  <!-- @if (type.invalid && showValidationErrors) {
                    @if (type.hasError('typeNotSelected')) {
                      <div style="color: rgb(210, 74, 74)">
                          <small>Publication type is required.</small>
                      </div>
                    }
                  } -->
                </div>
              </div>

              <!-- JOURNAL ARTICLE -->
              @if( convertUiToEnum(type.value) == PublicationType.JOURNAL_ARTICLE ){
                <div class="row mb-3">
                  <div class="col">
                    <ng-container *ngTemplateOutlet="authorsTemplate"></ng-container>
                  </div>
                  <div class="col">
                    <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <ng-container *ngTemplateOutlet="bookTemplate"></ng-container>
                  </div>
                  <div class="col">
                    <ng-container *ngTemplateOutlet="volumeTemplate"></ng-container>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <ng-container *ngTemplateOutlet="publicationYearTemplate"></ng-container>
                  </div>
                  <div class="col">
                    <ng-container *ngTemplateOutlet="pageNumbersTemplate"></ng-container>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <ng-container *ngTemplateOutlet="recommendedTemplate"></ng-container>
                  </div>
                </div>
                <div class="row mb-3">
                  <ng-container *ngTemplateOutlet="descriptionTemplate"></ng-container>
                </div>
              }

              <!-- ============= -->
              <!-- | TEMPLATES | -->
              <!-- ============= -->

              <!-- Authors template -->
              <ng-template #authorsTemplate>
                <label for="bib-authors" class="form-label">Author(s):</label>@if (editFormConfig.validateAuthors){<span style="color: rgb(210, 74, 74)">*</span>}
                <input type="text" class="form-control" formControlName="authors" id="bib-authors"
                        [ngStyle]="{'background-color': (editFormConfig.validateAuthors && authors.invalid && showValidationErrors) ||
                                                        (editFormConfig.validateAuthorsEditorsTranslators && editForm.hasError('authorsEditorsTranslatorsNotProvided') && showValidationErrors)
                                                         ? 'rgb(210, 74, 74)' : 'white'}">
                  @if (showValidationErrors){
                    @if (editFormConfig.validateAuthors && authors.invalid && authors.hasError('required')) {
                          <div style="color:rgb(210, 74, 74)">
                            <small>Author is required.</small>
                          </div>
                      }
                      @if (editFormConfig.validateAuthorsEditorsTranslators && editForm.invalid && editForm.hasError('authorsEditorsTranslatorsNotProvided')) {
                          <div style="color:rgb(210, 74, 74)">
                            <small>At least one author, editor or translator is required.</small>
                          </div>
                      }
                  }

              </ng-template>

              <!-- Editors template -->
              <ng-template #editorsTemplate>
                <label for="bib-editors" class="form-label">Editor(s):</label>@if (editFormConfig.validateEditors){<span style="color: rgb(210, 74, 74)">*</span>}
                <input type="text" class="form-control" formControlName="editors" id="bib-editors"
                        [ngStyle]="{'background-color': (editFormConfig.validateEditors && editors.invalid && showValidationErrors) ? 'rgb(210, 74, 74)' : 'white'}">
                  @if (editFormConfig.validateEditors && editors.invalid && showValidationErrors) {
                    @if (editors.hasError('required')) {
                      <div style="color:rgb(210, 74, 74)">
                          <small>Editor is required.</small>
                      </div>
                    }
                  }
              </ng-template>

              <!-- Translators template -->
              <ng-template #translatorsTemplate>
                <label for="bib-translators" class="form-label">Translator(s):</label>@if (editFormConfig.validateTranslators){<span style="color: rgb(210, 74, 74)">*</span>}
                <input type="text" class="form-control" formControlName="translators" id="bib-translators"
                        [ngStyle]="{'background-color': (editFormConfig.validateTranslators && translators.invalid && showValidationErrors) ? 'rgb(210, 74, 74)' : 'white'}">
                  @if (editFormConfig.validateTranslators && translators.invalid && showValidationErrors) {
                    @if (translators.hasError('required')) {
                      <div style="color:rgb(210, 74, 74)">
                          <small>Translator is required.</small>
                      </div>
                    }
                  }
              </ng-template>

              <!-- Title template -->
              <ng-template #titleTemplate>
                <label for="saga-version-title" class="form-label">Title:</label>@if (editFormConfig.validateTitle){<span style="color: rgb(210, 74, 74)">*</span>}
                <input type="text" class="form-control" formControlName="title" id="saga-version-title"
                        [ngStyle]="{'background-color': (editFormConfig.validateTitle && title.invalid && showValidationErrors) ? 'rgb(210, 74, 74)' : 'white'}">
                  @if (editFormConfig.validateTitle && title.invalid && showValidationErrors) {
                    @if (title.hasError('required')) {
                      <div style="color:rgb(210, 74, 74)">
                          <small>Title is required.</small>
                      </div>
                    }
                  }
              </ng-template>

              <!-- URL template -->
              <ng-template #urlTemplate>
                <label for="bib-url" class="form-label">URL:</label>@if (editFormConfig.validateUrl){<span style="color: rgb(210, 74, 74)">*</span>}
                <input type="text" class="form-control" formControlName="url" id="bib-url"
                        [ngStyle]="{'background-color': (editFormConfig.validateEditors && editors.invalid && showValidationErrors) ? 'rgb(210, 74, 74)' : 'white'}">
                  @if (editFormConfig.validateUrl && url.invalid && showValidationErrors) {
                    @if (url.hasError('required')) {
                      <div style="color:rgb(210, 74, 74)">
                          <small>URL is required.</small>
                      </div>
                    }
                  }
              </ng-template>

              <!-- Book editors template -->
              <ng-template #bookEditorsTemplate>
                <label for="bib-book-editors" class="form-label">Editor(s) of book:</label>@if (editFormConfig.validateBookEditors){<span style="color: rgb(210, 74, 74)">*</span>}
                <input type="text" class="form-control" formControlName="bookEditors" id="bib-book-editors"
                        [ngStyle]="{'background-color': (editFormConfig.validateBookEditors && bookEditors.invalid && showValidationErrors) ? 'rgb(210, 74, 74)' : 'white'}">
                  @if (editFormConfig.validateBookEditors && bookEditors.invalid && showValidationErrors) {
                    @if (editors.hasError('required')) {
                      <div style="color:rgb(210, 74, 74)">
                          <small>An editor is required for this book</small>
                      </div>
                    }
                  }
              </ng-template>

              <!-- Book template -->
              <ng-template #bookTemplate>
                <label for="bib-book" class="form-label">@if( convertUiToEnum(type.value) == PublicationType.JOURNAL_ARTICLE ){ Journal title: }
                                                         @else{ Book title: }
                </label>
                @if (editFormConfig.validateBook){<span style="color: rgb(210, 74, 74)">*</span>}
                <input type="text" class="form-control" formControlName="book" id="bib-book"
                        [ngStyle]="{'background-color': (editFormConfig.validateBook && book.invalid && showValidationErrors) ? 'rgb(210, 74, 74)' : 'white'}">
                  @if (editFormConfig.validateBook && book.invalid && showValidationErrors) {
                    @if (book.hasError('required')) {
                      <div style="color:rgb(210, 74, 74)">
                          <small>A title is required.</small>
                      </div>
                    }
                  }
              </ng-template>

              <!-- Book series template -->
              <ng-template #bookSeriesTemplate>
                <label for="bib-book-series" class="form-label">Book series:</label>
                <input type="text" class="form-control" formControlName="bookSeries" id="bib-book-series">
              </ng-template>

              <!-- Volume template -->
              <ng-template #volumeTemplate>
                <label for="bib-volume" class="form-label">Volume:</label>
                <input type="text" class="form-control" formControlName="volume" id="bib-volume">
              </ng-template>

              <!-- Volume template -->
              <ng-template #numOfVolumesTemplate>
                <label for="bib-num-of-volumes" class="form-label">Number of volumes:</label>
                <input type="text" class="form-control" formControlName="volume" id="bib-num-of-volumes">
              </ng-template>

              <!-- Description template -->
              <ng-template #descriptionTemplate>
                <label for="saga-version-title" class="form-label">Description:</label>
                <quill-editor class="quill-editor" formControlName="description" id="saga-version-title" placeholder="Saga version description">
                </quill-editor>
              </ng-template>

              <!-- Place of publication template -->
              <ng-template #placeOfPublicationTemplate>
                <label for="bib-place-of-publication" class="form-label">Place of publication:</label>
                @if (editFormConfig.validatePlaceOfPublication){<span style="color: rgb(210, 74, 74)">*</span>}
                <input type="text" class="form-control" formControlName="placeOfPublication" id="bib-place-of-publication"
                        [ngStyle]="{'background-color': (editFormConfig.validatePlaceOfPublication && placeOfPublication.invalid && showValidationErrors) ? 'rgb(210, 74, 74)' : 'white'}">
                  @if (editFormConfig.validatePlaceOfPublication && placeOfPublication.invalid && showValidationErrors) {
                    @if (placeOfPublication.hasError('required')) {
                      <div style="color:rgb(210, 74, 74)">
                          <small>A place of publication is required.</small>
                      </div>
                    }
                  }
              </ng-template>

              <!-- Publisher template -->
              <ng-template #publisherTemplate>
                <label for="bib-publisher" class="form-label">Publisher:</label>
                @if (editFormConfig.validatePublisher){<span style="color: rgb(210, 74, 74)">*</span>}
                <input type="text" class="form-control" formControlName="publisher" id="bib-publisher"
                        [ngStyle]="{'background-color': (editFormConfig.validatePublisher && publisher.invalid && showValidationErrors) ? 'rgb(210, 74, 74)' : 'white'}">
                  @if (editFormConfig.validatePublisher && publisher.invalid && showValidationErrors) {
                    @if (publisher.hasError('required')) {
                      <div style="color:rgb(210, 74, 74)">
                          <small>A publisher is required.</small>
                      </div>
                    }
                  }
              </ng-template>

              <!-- Publication year template -->
              <ng-template #publicationYearTemplate>
                <label for="bib-publication-year" class="form-label">Year of publication:</label>
                @if (editFormConfig.validatePublicationYear){<span style="color: rgb(210, 74, 74)">*</span>}
                <input type="text" class="form-control" formControlName="publicationYear" id="bib-publication-year"
                        [ngStyle]="{'background-color': (editFormConfig.validatePublicationYear && publicationYear.invalid && showValidationErrors) ? 'rgb(210, 74, 74)' : 'white'}">
                  @if (editFormConfig.validatePublicationYear && publicationYear.invalid && showValidationErrors) {
                    @if (publicationYear.hasError('required')) {
                      <div style="color:rgb(210, 74, 74)">
                          <small>A year of publication is required.</small>
                      </div>
                    }
                  }
              </ng-template>

              <!-- Page numbers template -->
              <ng-template #pageNumbersTemplate>
                <label for="bib-page-numbers" class="form-label">Page range:</label>
                @if (editFormConfig.validatePageNumbers){<span style="color: rgb(210, 74, 74)">*</span>}
                <input type="text" class="form-control" formControlName="pageNumbers" id="bib-book"
                        [ngStyle]="{'background-color': (editFormConfig.validatePageNumbers && pageNumbers.invalid && showValidationErrors) ? 'rgb(210, 74, 74)' : 'white'}">
                  @if (editFormConfig.validatePageNumbers && pageNumbers.invalid && showValidationErrors) {
                    @if (pageNumbers.hasError('required')) {
                      <div style="color:rgb(210, 74, 74)">
                          <small>A page range is required.</small>
                      </div>
                    }
                  }
              </ng-template>

              <!-- Recommended template -->
              <ng-template #recommendedTemplate>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" formControlName="recommended" value="true" id="bib-recommended">
                  <label class="form-check-label" for="bib-recommended">Recommended title</label>
                </div>
              </ng-template>

              <!-- End of templates -->
            </div>
          </form>
        </div>

            <!-- END OF FIELDS -->
        <div class="modal-footer">
          <button (click)="mode === Mode.ADD ? navigateToBibAllPage() : null" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="submitAddOrEdit()" type="submit" class="btn btn-primary" [disabled]="type.value === 'Select publication type:'">Save</button>
        </div>
    </div>
  </div>
</div>
