<div class="py-4 page-header">
  <h1>Bibliography</h1>
</div>
<div class="card-body">
  <div class="container" >
    <div class="row mb-4">
      <div class="col-3">
        <form [formGroup]="filterForm">
        <input type="text" class="form-control" formControlName="filter" placeholder="Filter bibliography entries...">
      </form>
      </div>
    </div>

    @if (primarySources.length > 0){
      <div class="row">
        <h3 style="font-variant: small-caps;">Editions and translations</h3>
      </div>
      @for (bib of primarySources; track $index){
        <div class="row mb-1">
          <span>
          @if (bib.recommended){<span style="color: rgb(210, 74, 74)">* </span>}
          <a href="bib/{{bib.id}}" [innerHTML]="bib.bibliographyEntry"></a>
          </span>
        </div>
      }
      <p></p>
      <p></p>
    }

    @if (secondarySources.length > 0){
      <div class="row">
        <h3 style="font-variant: small-caps;">Secondary sources</h3>
      </div>
      @for (bib of secondarySources; track $index){
        <div class="row mb-1">
          <span>
            @if (bib.recommended){<span style="color: rgb(210, 74, 74)">* </span>}
            <a href="bib/{{bib.id}}" [innerHTML]="bib.bibliographyEntry"></a>
          </span>
        </div>
      }
    }

    <!-- 'Add' button -->
    <p></p>
    <div class="row">
      <div class="col-sm">
        <button (click)="addBib();" type="button" class="btn btn-success btn-sm">Add</button>
      </div>
    </div>
  </div>
</div>

