<div class="card-body">
  <div class="container" >
    <div class="row">
      <h1><i>Bibliography</i></h1>
    </div>
    <div class="row mb-4">
      <div class="col-3">
        <form [formGroup]="filterForm">
        <input type="text" class="form-control" formControlName="filter" placeholder="Filter bibliography entries...">
      </form>
      </div>
    </div>
    <hr>

    @if (primarySources.length > 0){
      <div class="row">
        <h3>Editions and translations</h3>
      </div>
      @for (bib of primarySources; track $index){
        <div class="row mb-1">
          <span><a href="bib/{{bib.id}}" [innerHTML]="bib.bibliographyEntry"></a></span>
        </div>
      }
      <p></p>
      <p></p>
    }

    @if (secondarySources.length > 0){
      <div class="row">
        <h3>Secondary sources</h3>
      </div>
      @for (bib of secondarySources; track $index){
        <div class="row mb-1">
          <span><a href="bib/{{bib.id}}" [innerHTML]="bib.bibliographyEntry"></a></span>
        </div>
      }
    }

    <!-- 'Add' button -->
    <p></p>
    <div class="row">
      <div class="col-sm">
        <button (click)="addBib();" type="button" class="btn btn-success btn-sm">Add</button>
      </div>
    </div>
  </div>
</div>

