<app-page-header backgroundImg="vignette.jpg">Log in</app-page-header>

<div class="card page-container">
  <div class="row my-2 justify-content-center">
    <div class="col-12 col-xl-4 col-lg-5 col-md-6 col-sm-8">
      <div class="card beige custom-shadow">
        <div class="card-body">
          <form [formGroup]="loginForm">
            <div class="row justify-content-md-center">
              <div class="col">
                <label for="username" class="form-label">Username:</label>
                <span class="red">*</span>
                <input type="text" class="form-control" formControlName="username" id="username"
                [class.invalid-input]="username.invalid && showValidationErrors" />
                @if (username.invalid && showValidationErrors) {
                  <div class="red">
                    <small>Please enter a username.</small>
                  </div>
                }
              </div>
            </div>

            <div class="row mt-4 justify-content-md-center">
              <div class="col">
                <label for="password" class="form-label">Password:</label>
                <span class="red">*</span>
                <input type="password" class="form-control" formControlName="password" id="password"
                [class.invalid-input]="password.invalid && showValidationErrors" />
                @if (password.invalid && showValidationErrors) {
                  <div class="red">
                    <small>Please enter a password.</small>
                  </div>
                }
              </div>
            </div>

            <div class="row mt-4">
              @if (loginUnsuccessful){
                <div class="col" style="color: rgb(210, 74, 74); font-size: 1.1rem" >
                  Invalid credentials
                </div>
              }
              <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                
                <button (click)="submit()" data-testid="edit-button" type="button" class="btn btn-outline-success"> Submit </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
