.page-header {
  padding: 3rem;
  display: flex;
  justify-content: center;
  color: white;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(116, 116, 116, 0.6)),
    var(--header-image);
  background-size: auto 100%;
  background-repeat: repeat-x;
}