<body>
  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary" 
      style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
            background-image: url(/img/ms_dark.jpg);"> -->
  <main class="content">
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary" 
        style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
                background-color: rgb(255, 243, 212) !important">

      <div class="container-fluid">

        <a class="navbar-brand ms-4 pe-2" ><i>riddara</i>DB</a>
        <ul class="navbar-nav w-100 d-flex mb-2 mb-lg-0 nav-underline">
          <li class="nav-item pe-2">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>

          <li class="nav-item pe-2">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>

          <li class="nav-item pe-2 mt-2">
            <span><b>|</b></span>
          </li>
        
          <li class="nav-item pe-2">
            <a class="nav-link" routerLink="/sagas" routerLinkActive="active">Sagas</a>
          </li>

          <li class="nav-item pe-2">
            <a class="nav-link" routerLink="/bib" routerLinkActive="active">Bibliography</a>
          </li>

          <li class="nav-item pe-2">
            <a class="nav-link" routerLink="/ms" routerLinkActive="active">Manuscripts</a>
          </li>

          <li class="nav-item pe-2 mt-2">
            <a><b>|</b></a>
          </li>

          <li class="nav-item pe-2">
            <a class="nav-link" routerLink="/motifs" routerLinkActive="active">Motifs</a>
          </li>

          <li class="nav-item pe-2">
            <a class="nav-link" routerLink="/characters" routerLinkActive="active">Characters</a>
          </li>
          <li class="nav-item pe-2">
            <a class="nav-link" routerLink="/locations" routerLinkActive="active">Locations</a>
          </li>
          @if ($isAdmin()){
            <li class="nav-item ms-auto">
              <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
            </li>
          }

          <li class="nav-item me-3" [class.ms-auto]="!$isAdmin()">
            @if ($loggedIn()){
              <a class="nav-link" href="#" (click)="logout()" onclick="event.preventDefault();">Log out</a>
            }
            @else {
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Log in</a>
            }
          </li>
        </ul>

      </div>

    </nav>
    <router-outlet/>
  </main>
  

  <footer class="page-footer">
    <div class="card-body">
      <div class="container-fluid ms-4">
        <div class="row">
          <div class="col">
            Placeholder text
          </div>
        </div>
      </div>

    </div>
  </footer>
</body>

