@if (sagaEntry) {
  <div class="card-body">
    <div class="container">
      @for (version of sagaVersions; track $index) {
        <div class="row">
          <!-- Title and buttons -->
          <h2 style="margin-bottom: 1rem"><i>{{ version.title }}</i>
          <button (click)="editSagaVersion(version.id);"
                    type="button" style="margin-left: 0.5rem" 
                    class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#editAddSaga">Edit</button>
          <button (click)="selectSagaVersion(version.id)" [disabled]="sagaVersions.length < 2"
                    type="button" style="margin-left: 0.5rem"
                    class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteSaga">Delete</button>
          </h2>
        </div>
        <div class="row">
          <!-- Date -->
          @if(version.date != SagaDate.UNDEFINED){
            <div><strong>Date: </strong>
            {{ mapToUi(version.date) }}
            <p></p>
            </div>
          }
        </div>
        <div class="row mb-3">
          <!-- Description -->
          <div class [innerHTML]="version.description"></div>
        </div>

        <!-- Bibliography -->
        @if (version.primarySources.length > 0){
          <div class="row">
            <h3>Editions and translations</h3>
          </div>
          @for (bib of version.primarySources; track $index){
            <div class="row mb-1">
              <span><a href="bib/{{bib.id}}" [innerHTML]="bib.bibliographyEntry"></a></span>
            </div>
          }
          <p></p>
        }

        @if (version.secondarySources.length > 0){
          <div class="row">
            <h3>Secondary sources</h3>
          </div>
          @for (bib of version.secondarySources; track $index){
            <div class="row mb-1">
              <span><a href="bib/{{bib.id}}" [innerHTML]="bib.bibliographyEntry"></a></span>
            </div>
          }
          <p></p>
        }

        @if (sagaVersions.length > 1 && $index != sagaVersions.length-1){
          <hr>
          <p></p>
        }
      }

      
      <button (click)="addSagaVersion();" 
          type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#editAddSaga">Add</button>
    </div>
  </div>
}

<!-- MODALS -->

<!--Add/edit modal-->
<div class="modal fade" id="editAddSaga" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
        <div class="modal-header">
          @if (mode === Mode.EDIT){
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit saga version</h1>
          }
          @else if (mode === Mode.ADD){
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add saga version</h1>
          }
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm">
            <div class="container-fluid">
              <div class="row mb-3">

                <div class="col">
                  <!-- TITLE FIELD -->
                  <label for="saga-version-title" class="form-label">Title:</label><span style="color: rgb(210, 74, 74)">*</span>
                  <input type="text" class="form-control" formControlName="title" id="saga-version-title" placeholder="Saga version title"
                          [class.invalid-input]="title.invalid && showValidationErrors">
                  @if (title.invalid && showValidationErrors) {
                    @if (title.hasError('required')) {
                      <div style="color:rgb(210, 74, 74)">
                          <small>Title is required.</small>
                      </div>
                    }
                    @else if (title.hasError('nameNotUnique')){
                      <div style="color:rgb(210, 74, 74)">
                          <small>Saga already exists.</small>
                      </div>
                    }
                  }
                </div>

                <!-- DATE FIELD -->
                <div class="col">
                  <label for="saga-version-title" class="form-label">Date:</label><span style="color: rgb(210, 74, 74)">*</span>
                  <select class="form-select" formControlName="date" id="saga-version-date"
                          [class.invalid-input]="date.invalid && showValidationErrors">
                    <option disabled selected>Select a date:</option>
                    <option>1250-1300</option>
                    <option>1300-1350</option>
                    <option>1350-1400</option>
                    <option>1400-1450</option>
                    <option>1450-1500</option>
                    <option>1500-1550</option>
                  </select>
                  @if (date.invalid && showValidationErrors) {
                    @if (date.hasError('dateNotSelected')) {
                      <div style="color: rgb(210, 74, 74)">
                          <small>Date is required.</small>
                      </div>
                    }
                  }
                </div>
              </div>
                

              <div class="row">
                <div class="col">
                <!-- DESCRIPTION FIELD -->
                  <label for="saga-version-title" class="form-label">Description:</label>
                  <quill-editor class="quill-editor" formControlName="description" id="saga-version-title" placeholder="Saga version description"
                  [modules]="
                    {
                      toolbar: [
                        ['bold', 'italic', 'underline'],
                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                        [{ 'script': 'sub'}, { 'script': 'super' }], 
                      ] 
                    }">
                  </quill-editor>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col">

                  <!-- BIBLIOGRAPHY ENTRIES -->

                  <div class="accordion" id="accordion-container">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bib-accordion" aria-expanded="true" aria-controls="bib-accordion">
                          Relevant scholarship
                        </button>
                      </h2>
                      <div id="bib-accordion" class="accordion-collapse collapse show" data-bs-parent="#accordion-container">
                        <div class="accordion-body">
                          <input type="text" class="form-control" formControlName="bibFilter" id="bibFilter" placeholder="Filter relevant scholarship...">
                          <p></p>
                          @for (bib of filteredBibVms; track $index){
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [checked]="boxChecked(bib)" (change)="addRemoveBibEntry(bib)">
                                <label class="form-check-label"><span [innerHTML]="bib.bibliographyEntry"></span></label>
                            </div>
                          }
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ms-accordion" aria-expanded="true" aria-controls="ms-accordion">
                          Manuscripts
                        </button>
                      </h2>
                      <div id="ms-accordion" class="accordion-collapse collapse show" data-bs-parent="#accordion-container">
                        <div class="accordion-body">
                         MS text
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

            <!-- END OF FIELDS -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="submitAddOrEdit()" type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
  </div>
</div>

<!--Delete modal-->
<div class="modal fade" id="deleteSaga" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete <i>{{ activeSagaVersion.title }}</i>?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
        <button (click)='deleteSagaVersion()' type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>