@if (sagaEntry)
{
  <div class="card-body">
      <h1><i><strong>{{ sagaEntry.name }}</strong></i></h1>
      <p> {{ sagaEntry.date }} </p>
      <p> {{ sagaEntry.description }}</p>
      @if (sagaEntry.isTranslated)
        {
          <p><strong>Translated:</strong> Yes</p>
        }
      @else
        {
          <p><strong>Translated:</strong> No</p>        
        }
      <p><strong>Bibliography:</strong></p>
      @if(sagaEntry.bibIds.length > 0){
        @for(bibId of sagaEntry.bibIds; track bibId){
          <p><a [routerLink]="['/bib', bibId]">{{ bibEntries[bibId]?.title }}</a></p>
        }
      }
    
      <p><strong>Folklore:</strong> {{ sagaEntry.folkloreIds }}</p>
      <p><strong>Person:</strong> {{ sagaEntry.personIds }}</p>
      <p><strong>Place:</strong> {{ sagaEntry.placeIds }}</p>
      <p><strong>Object:</strong> {{ sagaEntry.objectIds }}</p>
      <p><strong>MS:</strong> {{ sagaEntry.msIds }}</p>
  </div>
}