@import 'quill/dist/quill.snow.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: rgb(242, 240, 237);
  font-family: garamond
}

.card-body{
    padding: 2rem;
    margin: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a:visited{
  color: black;
}

a:hover{
  color: gray;
}

.quill-editor {
  width: 100%;
}

/* Paragraph settings */
p:empty:before{
    content: ' ';
    white-space: pre;
}

p {
    margin-bottom: -0.1rem;
}

/* Settings for Quill */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='garamond']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='garamond']::before
{
  content: 'Garamond';
  font-family: 'garamond';
}

.ql-editor {
  font-family: garamond;
  font-size: medium;
}


.ql-font-garamond {
  font-family: 'garamond';
}

/* Targets an element with BOTH classes invalid-input and form-control */
.invalid-input.form-control{
  border-color: #FF0000;
}

.invalid-input.form-control:focus{
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.invalid-input.form-select{
  border-color: #FF0000;
}

.invalid-input.form-select:focus{
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.ql-editor:focus{
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* Targets the element, ql-editor, within an element with invalid-input */
.invalid-input .ql-editor {
    border: 1px solid #FF0000;
}

.invalid-input .ql-editor:focus {
    border: 1px solid #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


