@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: rgb(242, 240, 237);
  font-family: Garamond
}

.centered{
  text-align: center;
}

.card-body{
    padding: 2rem;
    margin: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a:visited{
  color: black;
}

a:hover{
  color: gray;
}

.container.space-around {
  justify-content: space-around;
}
.container.space-between {  
  justify-content: space-between;
}