@import 'quill/dist/quill.snow.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: rgb(242, 240, 237);
  font-family: garamond
}

.centered{
  text-align: center;
}

.card-body{
    padding: 2rem;
    margin: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a:visited{
  color: black;
}

a:hover{
  color: gray;
}

.quill-editor {
  width: 100%;
  height: 100%;
}

/* Paragraph settings */
p:empty:before{
    content: ' ';
    white-space: pre;
}

p {
    margin-bottom: -0.1rem;
}

/* Settings for Quill */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='garamond']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='garamond']::before
{
  content: 'Garamond';
  font-family: 'garamond';
}

.ql-container {
  font-family: 'garamond';
  font-size: medium;
}

.ql-font-garamond {
  font-family: 'garamond';
}
